.dashboard {
    padding: 20px;
    flex: 1;
    height: auto;
    margin-left: 30px;
  }
  
  .dashboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .dashboard-section {
    flex: 1;
    margin: 0 10px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
  }
  
  .dashboard .horizontal-line{
    border-top: 1px solid rgb(134, 134, 134);
    opacity: 50%;
  }
  .dashboard .vertical{
    border-left: 1px solid rgb(134, 134, 134);
    height: auto;
    opacity: 50%;
  }

  .dashboard-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    cursor: pointer;
  }
  