.exams-page {
    display: flex;
    padding: 20px;
  }

  .exams-list {
    flex: 1;
    margin:  0 0 0 20px ;
    border-right: 1px solid #ddd;
    padding-right: 20px;
  }

  .exams-list ul li{
    list-style-type: none;
    margin-top: 40px;
    justify-content: space-between;
    cursor: pointer;
    width: 50%;
    height: 100%;
  }

  .upload-exam {
    flex: 1;
    margin:  0 0 0 20px ;
  }
  
   h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #8d8d8d;
  }
  
  h3, h4 {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input, form button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  form button {
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #584bdb;
  }